#phaseCards {
  line-height: 20px;
  max-width: 350px;
  min-width: 300px;
}

#phaseCards h1 {
  font-size: 2rem;
  font-weight: 700;
}
#phaseCards p {
  font-size: 1rem;
  opacity: 0.8;
}
#phaseCards h5 {
  font-size: 1.2rem;
  font-weight: 700;
  font-weight: 700;
}
#phaseCards span {
  font-weight: 700;
  font-weight: bold;
}
#signNumber {
  font-weight: 700;
  font-size: 250px;
  line-height: 250px;
  text-align: center;
  opacity: 0.08;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
