#footerSection {
  text-align: center;
  background: url(../../assets//images/footer-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
#linkRightMargin a {
  color: white;
  margin-right: 20px;
}
#socialIcon img {
  width: 40px;
  margin-right: 8px;
}


